body {
    font-family: 'Roboto', sans-serif;
}
.app {
    max-width: 1000px;
    margin: 5px auto;
}

.list {
    display: flex;
    justify-content: space-between;
}
.card {
    width: 200px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;

}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card.marked {
    border: 2px solid crimson;
}

.hovered {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
.card-img {
    display: flex;
    align-items: center;
    height: 150px;
}
.card img {
    width: 100%;
}
.marked{
    color: darkred;
    border: 2px solid darkred;
}
.ml1 {
    background-color: #f44336;
    margin-left: 8px;
border: none;
color: white;
padding: 8px 16px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}

