.Car {
    margin-bottom: 10px;
    displey: block;
    padding: 10px;
    border-radius: 5px;
}
img {
    width: 300px;
}
.input {
}
.input.green {
    border: 1px solid green;
}
.input.red {
    border: 1px solid red;
}
input.bold {
    border: 2px solid green;
    font-weight: bold;
}
